<%= form_with model: todo do |form| %>
    <div>
        <h2><%= form.label :title %></h2>
        <%= form.text_field :title %>
    </div>
    <div>
        <h2><%= form.label :body %></h2>
        <%= form.text_area :body %>
    </div>
    <div>
        <h2><%= form.label :status %></h2>
        <%= form.select :status, ['in-progress','done'], selected:'in-progress'%>  
    </div>
    <div>
        <%= form.submit%>
    </div>

<% end %>